:root {
  --accent-1: #b1c0ef;
  --accent-2: #f2acac;
  --accent-3: #fedd93;
  --accent-4: #81b7bf;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
h1 {
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 900;
}
p {
  font-weight: 500;
  text-transform: uppercase;
}
.intro,
.outro {
  position: relative;
  width: 100%;
  height: 100svh;
  overflow: hidden;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f4eb;
  color: #141414;
}
.sticky-cards {
  position: relative;
  width: 100%;
  background-color: #0f0f0f;
}
.card {
  position: sticky;
  width: 100%;
  height: 125svh;
  transform-style: preserve-3d;
  perspective: 1000px;
}
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  transform-origin: 50% 100%;
  will-change: transform;
  text-align: center;
}
#card-1 .card-inner {
  background-color: var(--accent-1);
}
#card-2 .card-inner {
  background-color: var(--accent-2);
}
#card-3 .card-inner {
  background-color: var(--accent-3);
}
#card-4 .card-inner {
  background-color: var(--accent-4);
}
.card-info {
  width: 25%;
  padding: 2em;
  text-align: left;
}
.card-title h1 {
  font-size: 10rem;
  padding: 2rem 0;
  line-height: 1;
}
.card-desc {
  width: 60%;
  margin: 0 auto 1em auto;
}
.card-img {
  width: 100%;
  height: 100%;
  margin-top: 4em;
  overflow: hidden;
}
.card-inner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: var(--after-opacity, 0);
  will-change: opacity;
  pointer-events: none;
  z-index: 2;
}
